.container{
    &__inner{
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
}
.filter{
    position: absolute;
    right: 0;
    max-width: 300px;
    width: 100%;
}
.resourses-content{
    max-width: 900px;
    width: 100%;
}
app-content{
    width: 100%;
}
.history{
    position: absolute;
    left: 0;
    max-width: 300px;
    width: 100%;
}