.container{
    &__inner{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }
}
.filter{
    width: 400px;
}
.resourses-content{
    max-width: 900px;
    width: 100%;
}
app-content{
    width: 100%;
}