<!-- 
<div *ngFor="let item of checkboxList" class="chekboxes">
    <div class="wrapp">
        <input  type="checkbox" [(ngModel)]="item.checked" (ngModelChange)="onToggle(item, $event)">
        <label for="item">{{item.label}}</label>
    </div>
    <div class="checkboxes-inner">
        <div class="wrapp">
            <input [disabled]="item.checked?false:true" *ngIf="item.sublabel1" type="checkbox" [(ngModel)]="item.checked1" (ngModelChange)="onToggle(item, $event)">
            <label for="item">{{item.sublabel1}}</label>
        </div>
        <div class="wrapp">
            <input [disabled]="item.checked?false:true" *ngIf="item.sublabel2" type="checkbox" [(ngModel)]="item.checked2" (ngModelChange)="onToggle(item, $event)">
            <label for="item">{{item.sublabel2}}</label>
        </div>
    </div>
</div> -->

<div >
    <form [formGroup]="form" >
        <div class="form-group">
            <label for="website">Фильтр:</label>
            <div *ngFor="let item of nodes">
                <label>
                    <input formControlName="resourseControl" type="checkbox" [value]="item.name" (change)="onCheckboxChange($event)" />
                    {{item.name}}
                </label>
                <div *ngIf="item.children">
                    <div *ngFor="let el of item.children">
                        <label class="inner-checkbox">
                            <input formControlName="childrenControl" type="checkbox" [value]="el.name" (change)="onCheckboxChange($event)" />
                            {{el.name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>