.error-alert{
    padding: 5px 7px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    span{
        color: white;
    }
}
button{
    span{
        font-size: 16px !important;
    }
    cursor: pointer;
    background: transparent;
    border: none;
    .material-icons{
        color: white;
    }
}