.btn-search{
    display: flex;
    align-items: center;
    padding: 4px 3px;
    cursor: pointer;
    p{
        margin-right: 3px;
    }
}

.inputForm{
    display: flex;
}
.validation{
    small{
        color: red;
    }
}
.search-wrapp{
    margin-bottom: 20px;
}