tbody{
    padding-left: 15px;
}
.bodyTable-show{
    max-width: 350px;
    width: 100%;
    position: absolute;
    transition: all .5s;

}
.historyTable{
    width: 350px;
}


.headerHistory{
    cursor: pointer;
}

.date{
    padding-left: 7px;
}

table th, table td {
    padding: 0.5rem;
    text-align: left;
}