<div class="search-wrapp">
    <div class="search__inner">

        <div class="search__inner-input">
            <div class="inputForm" [formGroup]="inputForm">
                <input type="text" formControlName="inputControl">
                <button [disabled]="!validator()" (click)="getData()" type="submit" class="btn-search ">
                    Поиск
                    <span class="material-icons">search</span> 
                </button>
            </div>
            <div *ngIf="!validator()" class="validation">
                <small>{{errorMessage}}</small>
            </div>
            
        </div>

    </div>
</div>